{
  "action" : "actions",
  "list" : [
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast1.wav", "/sfx/gun/grenadeblast2.wav", "/sfx/gun/grenadeblast3.wav" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 100000,
      "delaySteps" : 0
    }

  ]
}
