{
	"version" : "1.2",
	"changelog" : "

^#008080;-----     1.2     -----^reset;
> Added support for Ztarbound updates.
> Added the 'Peglaci Crafting Database' item. Teach any character all the peglaci blueprints on pick-up.
> Added two new wired items that work on tandem: a Drain and a Water Purifier.
> Added 20 new objects and decorations.
> Added 5 new tiles to build and get fun. Two of them are slopped.
> Various small fixes and tweaks.
> ^#7ce4c0;Deprecated:^reset; peglacihorcable, peglacivercable and peglacimetalscreen are now legacy tiles, as they were replaced by some of the new content. The tiles are still on the game, but are unobtainable without console commands.
",

//-------------------------------------------------------------------------------------------------
//------------------------------------------ Other texts ------------------------------------------
//-------------------------------------------------------------------------------------------------

	"welcome" : "
Thanks for install ^#008080;Peglaci Rebirth^reset;; The peglaci are a race of peaceful, peace-keeping humanoids from an icy world.
This race mod was created originaly by Djinn, and was revived by the community. The mod is still being update, so expect new things any time!


This window will pop-up in every major update of the mod.
This means, that the pop-up wouldn't going to bother you with minor fixes, and is only going to appear when a good amount of content is added to the game.

^#7ce4c0;-- What to expect from the mod --^reset;
If you are playing with a peglaci character, you can expect:
 * ^#008080;Brand New Ship^reset; - Tiny, but terribly efficient. All tech in the ship is concentrated in one area near the captain's chair. The rest of the ship keeps growing with each tier.
 * ^#008080;Building Stuff^reset; - A selection of peglaci Tiles and Objects to let your imagination fly while building.
 * ^#008080;Complete Armor Sets^reset; - Armor for every tier of content to keep you warm and comfortable no matter how cold it gets!
 * ^#008080;Complete Weapon Selection^reset; - Balanced spears, axes, fist weapons, and throwing weapons for every tier!
 * ^#008080;Guns with Alternate Fire^reset; - You start with a small pistol; you'll find that you can either fire it as normal or charge it to fire a bouncing shot. There are a lot of balanced and fun guns that you can craft and, later on, enhance. All of the with their unique alt ability.
 * ^#008080;Fine Dining^reset; - The Peglaci come with two new crops, that can also be found (rarely) in the wild: Snowberries and Spongeweed.
 * ^#008080;Vanilla Integration^reset; - The Peglaci have an opinion for almost EVERY VANILLA OBJECT IN THE ENTIRE GAME! No matter whether you're in a Glitch town, a Human prison or an Avian tomb, your character will have something to say about it!
 * ^#008080;Don't Start as a Total Failure^reset; - Often overlooked as a feature! You start out with a set of Tier 1 armor, a dagger and a broken (easily repairable) gun. You were sent out to do a job, so you're not starting from scratch!
 
If you are not playing with a peglaci character:
  * ^#008080;Building Stuff^reset; - In the Infinity Express, you can buy a datbase to learn every peglaci blueprint. This is a placeholder location as, in the future, you will be able to buy it in an outpost-like world, exclusive from a peglaci questline.
  * ^#008080;Peglaci Tenants^reset; - They don't have all his dialogue lines yet, but you can build houses to host tenants of your favorite goat-like space race.
  
^#7ce4c0;-- The Future --^reset;
New thing and awesome things are yet to come, as the mod keeps evolving... A sneek-peek of what is planed:
  * Surface and Underground structures.
  * Peglaci Towns.
  * Space Encounters.
  * Enemies! Not every peglaci is a pace-keeper.
  * Exclusive outpost-like world.
  * A questline, to discover interesting things about the peglaci...
  * New Crops? New Food? Maybe...
  * End-game giant content...
  * More?",
  
	"credits" : "
- ^#008080;Djinn^reset; - Original Peglaci Author
- ^#008080;Cryptic Xenon^reset; - Mantainer; Code, Bugfixes.
- ^#008080;GonDragon^reset; - Mantainer; Code, Sprites, Bugfixes.
- ^#008080;HALLEY_SHURA^reset; - Mantainer; Sprites, Bugfixes.
- ^#008080;Gratuitous Lurking^reset; - Lore.
- ^#008080;Zagz^reset; - Building ideas.
",
	
	"info" : "

This mod is revived by the community, for the community. That means that everyone can help! Lore, Art, Scripts, Buildings, Ideas, etc.

^#7ce4c0; - Contact Info -^reset;
Check our Discord server, there is always someone roaming around. Find it on the Steam description of the mod.

^#7ce4c0; - Beta Build -^reset;
Feeling reckless? You can download the Dev Build of the mod from our Github Server. Find it on the Steam description of the mod. DISCLAIMER: The Dev Build may be broken, or may broke your game, download it at your own risk.

^#7ce4c0; - Community Updated -^reset;
Anyone can contribute with the mod. This is a list of examples of some of the positions that you can fill if you want to help us:
 * ^#008080;Programmer^reset; - If you know LUA, JSON and how Starbound interact with its files, you can do a lot of things.
 * ^#008080;Pixel Artist^reset; - Because without new assets, the amount of things we can do are limited.
 * ^#008080;Concept Artist^reset; - Designin new assets, effects, weapons, abilities, etc. It's a lot easier with a visual reference. Even lore writing could benefit from it!
 * ^#008080;Lore Maker^reset; - The amount of lore left by Djinn it's limited. To expand in missions and history, we will need some lore as a context, and as codex entries.
 * ^#008080;Map Maker^reset; - Missions, encounters, dungeons, microdungeons, villages. We need people that can build cool things... and if the can learn how to use Tiled, is even better!
 * ^#008080;Mision Designer^reset; - Building a cool structure is one thing, but create a coherent, good looking and balanced mission, it's another. Know how to use Tiled is not a must, but is a very good plus.
 * ^#008080;Beta Tester^reset; - Because someone has to test the crazy things. =P
 * ^#008080;And much more!^reset; - You don't need to fill one particular rol or be very involved to help. Any small suggestion or bug report it's really helpfull, even just talk about the mod with others about the mod.


"
}