{
  "pieces" : {
    "fullShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [64, 0]
    },
    "topShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [0, 0]
    },
    "leftShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [8, 0]
    },
    "bottomShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [16, 0]
    },
    "rightShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [24, 0]
    },
    "topLeftShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [32, 0]
    },
    "topRightShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [40, 0]
    },
    "bottomLeftShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [48, 0]
    },
    "bottomRightShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [56, 0]
    },

    "icon" : {
      "textureSize" : [8, 8],
      "texturePosition" : [24, 0],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },

    "slopeUL" : {
      "textureSize" : [6, 6],
      "texturePosition" : [0, 0],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "slopeUR" : {
      "textureSize" : [6, 6],
      "texturePosition" : [6, 0],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "slopeLL" : {
      "textureSize" : [6, 6],
      "texturePosition" : [0, 6],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "slopeLR" : {
      "textureSize" : [6, 6],
      "texturePosition" : [6, 6],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    
    "borderCornerTL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [14, 2],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderCornerTR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [18, 2],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderCornerBL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [14, 6],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderCornerBR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [18, 6],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },

    "borderLeftTop" : {
      "textureSize" : [2, 4],
      "texturePosition" : [12, 2],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderLeftBottom" : {
      "textureSize" : [2, 4],
      "texturePosition" : [12, 6],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderRightTop" : {
      "textureSize" : [2, 4],
      "texturePosition" : [22, 2],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderRightBottom" : {
      "textureSize" : [2, 4],
      "texturePosition" : [22, 6],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderTopLeft" : {
      "textureSize" : [4, 2],
      "texturePosition" : [14, 0],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderTopRight" : {
      "textureSize" : [4, 2],
      "texturePosition" : [18, 0],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderBottomLeft" : {
      "textureSize" : [4, 2],
      "texturePosition" : [14, 10],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderBottomRight" : {
      "textureSize" : [4, 2],
      "texturePosition" : [18, 10],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },

    "borderCornerUL" : {
      "textureSize" : [2, 2],
      "texturePosition" : [12, 0],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderCornerUR" : {
      "textureSize" : [2, 2],
      "texturePosition" : [22, 0],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderCornerLL" : {
      "textureSize" : [2, 2],
      "texturePosition" : [12, 10],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderCornerLR" : {
      "textureSize" : [2, 2],
      "texturePosition" : [22, 10],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },

    "borderInnerUL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [14, 2],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderInnerUR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [18, 2],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderInnerLL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [14, 6],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "borderInnerLR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [18, 6],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },

    "interiorSlopeUL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [24, 0],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "interiorSlopeUR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [28, 0],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "interiorSlopeLL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [24, 4],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "interiorSlopeLR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [28, 4],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },

    "slopeInnerLR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [24, 8],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "slopeInnerLL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [28, 8],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "slopeInnerUR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [24, 12],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "slopeInnerUL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [28, 12],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },

    "outerCornerUL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [32, 0],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "outerCornerUR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [44, 0],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "outerCornerLL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [32, 12],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "outerCornerLR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [44, 12],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },

    "sideTopLeft" : {
      "textureSize" : [4, 4],
      "texturePosition" : [36, 0],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "sideTopRight" : {
      "textureSize" : [4, 4],
      "texturePosition" : [40, 0],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "sideBottomLeft" : {
      "textureSize" : [4, 4],
      "texturePosition" : [36, 12],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "sideBottomRight" : {
      "textureSize" : [4, 4],
      "texturePosition" : [40, 12],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },

    "sideLeftTop" : {
      "textureSize" : [4, 4],
      "texturePosition" : [32, 4],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "sideLeftBottom" : {
      "textureSize" : [4, 4],
      "texturePosition" : [32, 8],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "sideRightTop" : {
      "textureSize" : [4, 4],
      "texturePosition" : [44, 4],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "sideRightBottom" : {
      "textureSize" : [4, 4],
      "texturePosition" : [44, 8],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },

    "interiorUL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [40, 8],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "interiorUR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [36, 8],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "interiorLL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [40, 4],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "interiorLR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [36, 4],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },

    "diagDown" : {
      "textureSize" : [4, 4],
      "texturePosition" : [16, 12],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    },
    "diagUp" : {
      "textureSize" : [4, 4],
      "texturePosition" : [20, 12],
      "colorStride" : [0, 16],
      "variantStride" : [48, 0]
    }
  },

  "representativePiece": "icon",

  "rules" : {
    "EqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf"
        }
      ]
    },
    "NotEqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Shadows" : {
      "entries" : [
        {
          "type" : "Shadows"
        }
      ]
    },
    "NotShadows" : {
      "entries" : [
        {
          "type" : "Shadows",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [

      // UPPER LEFT QUADRANT

      {
        "subMatches" : [
          {
            "haltOnSubMatch" : true,
            "matchAllPoints" : [
              [[-1, 0], "NotEqualsSelf"],
              [[-1, 1], "NotEqualsSelf"],
              [[0, 1], "NotEqualsSelf"]
            ],
            "subMatches" : [
              {
                "matchAnyPoints" : [
                  [[-1, -1], "EqualsSelf"],
                  [[1, 1], "EqualsSelf"]
                ],
                "pieces" : [["slopeUL", [-2, 4]]],
                "occlude" : false
              }
            ]
          },
          {
            "subMatches" : [
              {
                "matchAllPoints" : [
                  [[-1, 1], "EqualsSelf"]
                ],
                "subMatches" : [
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[-1, 0], "NotEqualsSelf"],
                      [[0, 1], "NotEqualsSelf"]
                    ],
                    "pieces" : [["diagDown", [0, 4]]],
                    "occlude" : false
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[-1, 0], "EqualsSelf"],
                      [[0, 1], "NotEqualsSelf"]
                    ],
                    "pieces" : [["interiorSlopeUR", [0, 4]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[-1, 0], "NotEqualsSelf"]
                    ],
                    "pieces" : [["interiorSlopeLL", [0, 4]]]
                  },
                  {
                    "pieces" : [["interiorUL", [0, 4]]]
                  }
                ]
              },
              {
                "matchAllPoints" : [
                  [[-1, 1], "NotEqualsSelf"]
                ],
                "subMatches" : [
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[-1, 0], "NotEqualsSelf"],
                      [[0, 1], "NotEqualsSelf"]
                    ],
                    "pieces" : [["outerCornerUL", [0, 4]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[-1, 0], "EqualsSelf"],
                      [[0, 1], "EqualsSelf"]
                    ],
                    "pieces" : [["interiorUL", [0, 4]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[-1, 0], "EqualsSelf"]
                    ],
                    "pieces" : [["sideTopLeft", [0, 4]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[0, 1], "EqualsSelf"]
                    ],
                    "pieces" : [["sideLeftTop", [0, 4]]]
                  }
                ]
              },
                
                {
                  "haltOnMatch" : true,
                  "matchAllPoints" : [
                    [[-1, 1], "EqualsSelf"],
                    [[-1, 0], "NotEqualsSelf"]
                  ],
                  "pieces" : [["slopeInnerLL", [-4, 4]]]
                },
                { 
                  "haltOnMatch" : true,
                  "matchAllPoints" : [
                    [[-1, 0], "NotEqualsSelf"],
                    [[0, 1], "NotEqualsSelf"],
                    [[-1, 1], "NotEqualsSelf"]
                  ],
                  "pieces" : [["borderCornerTL", [-1, 5]],
                              ["borderCornerUL", [2, 8]],
                              ["borderCornerUL", [-2, 4]]]
                },
                {
                  "matchAllPoints" : [
                    [[0, 1], "NotEqualsSelf"],
                    [[-1, 1], "NotEqualsSelf"]
                  ],
                  "pieces" : [["borderTopLeft", [0, 8]]]
                },
                {
                  "matchAllPoints" : [
                    [[-1, 0], "NotEqualsSelf"]
                  ],
                  "pieces" : [["borderLeftTop", [-2, 4]]]
                },
                {
                  "matchAllPoints" : [
                    [[0, 1], "NotEqualsSelf"],
                    [[-1, 0], "NotEqualsSelf"]
                  ],
                  "pieces" : [["borderCornerUL", [-2, 8]]]
                }
            ]
          }
        ]
      },

      // UPPER RIGHT QUADRANT

      {
        "subMatches" : [
          {
            "haltOnSubMatch" : true,
            "matchAllPoints" : [
              [[1, 0], "NotEqualsSelf"],
              [[1, 1], "NotEqualsSelf"],
              [[0, 1], "NotEqualsSelf"]
            ],
            "subMatches" : [
              {
                "matchAnyPoints" : [
                  [[1, -1], "EqualsSelf"],
                  [[-1, 1], "EqualsSelf"]
                ],
                "pieces" : [["slopeUR", [4, 4]]],
                "occlude" : false
              }
            ]
          },
          {
            "subMatches" : [
              {
                "matchAllPoints" : [
                  [[1, 1], "EqualsSelf"]
                ],
                "subMatches" : [
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[1, 0], "NotEqualsSelf"],
                      [[0, 1], "NotEqualsSelf"]
                    ],
                    "pieces" : [["diagUp", [4, 4]]],
                    "occlude" : false
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[1, 0], "EqualsSelf"],
                      [[0, 1], "NotEqualsSelf"]
                    ],
                    "pieces" : [["interiorSlopeUL", [4, 4]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[1, 0], "NotEqualsSelf"]
                    ],
                    "pieces" : [["interiorSlopeLR", [4, 4]]]
                  },
                  {
                    "pieces" : [["interiorUR", [4, 4]]]
                  }
                ]
              },
              {
                "matchAllPoints" : [
                  [[1, 1], "NotEqualsSelf"]
                ],
                "subMatches" : [
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[1, 0], "NotEqualsSelf"],
                      [[1, 1], "NotEqualsSelf"],
                      [[0, 1], "NotEqualsSelf"]
                    ],
                    "pieces" : [["outerCornerUR", [4, 4]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[1, 0], "EqualsSelf"],
                      [[0, 1], "EqualsSelf"]
                    ],
                    "pieces" : [["interiorUR", [4, 4]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[1, 0], "EqualsSelf"]
                    ],
                    "pieces" : [["sideTopRight", [4, 4]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[0, 1], "EqualsSelf"]
                    ],
                    "pieces" : [["sideRightTop", [4, 4]]]
                  }
                ]
              },
              {
                "haltOnMatch" : true,
                "matchAllPoints" : [
                  [[1, 1], "EqualsSelf"],
                  [[1, 0], "NotEqualsSelf"]
                ],
                "pieces" : [["slopeInnerLR", [8, 4]]]
              },
              { 
                  "haltOnMatch" : true,
                  "matchAllPoints" : [
                    [[1, 0], "NotEqualsSelf"],
                    [[0, 1], "NotEqualsSelf"],
                    [[1, 1], "NotEqualsSelf"]
                  ],
                  "pieces" : [["borderCornerTR", [5, 5]],
                              ["borderCornerUR", [4, 8]],
                              ["borderCornerUR", [8, 4]]]
                },
              {
                "matchAllPoints" : [
                  [[0, 1], "NotEqualsSelf"],
                  [[1, 1], "NotEqualsSelf"]
                ],
                "pieces" : [["borderTopRight", [4, 8]]]
              },
              {
                "matchAllPoints" : [
                  [[1, 0], "NotEqualsSelf"]
                ],
                "pieces" : [["borderRightTop", [8, 4]]]
              },
              {
                "matchAllPoints" : [
                  [[0, 1], "NotEqualsSelf"],
                  [[1, 0], "NotEqualsSelf"]
                ],
                "pieces" : [["borderCornerUR", [8, 8]]]
              }
            ]
          }
        ]
      },

      // LOWER LEFT QUADRANT

      {
        "subMatches" : [
          {
            "haltOnSubMatch" : true,
            "matchAllPoints" : [
              [[-1, 0], "NotEqualsSelf"],
              [[-1, -1], "NotEqualsSelf"],
              [[0, -1], "NotEqualsSelf"]
            ],
            "subMatches" : [
              {
                "matchAnyPoints" : [
                  [[-1, 1], "EqualsSelf"],
                  [[1, -1], "EqualsSelf"]
                ],
                "pieces" : [["slopeLL", [-2, -2]]],
                "occlude" : false
              }
            ]
          },
          {
            "subMatches" : [
              {
                "matchAllPoints" : [
                  [[-1, -1], "EqualsSelf"]
                ],
                "subMatches" : [
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[-1, 0], "NotEqualsSelf"],
                      [[0, -1], "NotEqualsSelf"]
                    ],
                    "pieces" : [["diagUp", [0, 0]]],
                    "occlude" : false
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[-1, 0], "EqualsSelf"],
                      [[0, -1], "NotEqualsSelf"]
                    ],
                    "pieces" : [["interiorSlopeLR", [0, 0]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[-1, 0], "NotEqualsSelf"]
                    ],
                    "pieces" : [["interiorSlopeUL", [0, 0]]]
                  },
                  {
                    "pieces" : [["interiorLL", [0, 0]]]
                  }
                ]
              },
              {
                "matchAllPoints" : [
                  [[-1, -1], "NotEqualsSelf"]
                ],
                "subMatches" : [
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[-1, 0], "NotEqualsSelf"],
                      [[0, -1], "NotEqualsSelf"]
                    ],
                    "pieces" : [["outerCornerLL", [0, 0]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[-1, 0], "EqualsSelf"],
                      [[0, -1], "EqualsSelf"]
                    ],
                    "pieces" : [["interiorLL", [0, 0]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[-1, 0], "EqualsSelf"]
                    ],
                    "pieces" : [["sideBottomLeft", [0, 0]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[0, -1], "EqualsSelf"]
                    ],
                    "pieces" : [["sideLeftBottom", [0, 0]]]
                  }
                ]
              },
              {
                "haltOnMatch" : true,
                "matchAllPoints" : [
                  [[-1, -1], "EqualsSelf"],
                  [[-1, 0], "NotEqualsSelf"]
                ],
                "pieces" : [["slopeInnerUL", [-4, 0]]]
              },
              { 
                  "haltOnMatch" : true,
                  "matchAllPoints" : [
                    [[-1, 0], "NotEqualsSelf"],
                    [[0, -1], "NotEqualsSelf"],
                    [[-1, -1], "NotEqualsSelf"]
                  ],
                  "pieces" : [["borderCornerBL", [-1, -1]],
                              ["borderCornerLL", [2, -2]],
                              ["borderCornerLL", [-2, 2]]]
                },
              {
                "matchAllPoints" : [
                  [[0, -1], "NotEqualsSelf"],
                  [[-1, -1], "NotEqualsSelf"]
                ],
                "pieces" : [["borderBottomLeft", [0, -2]]]
              },
              {
                "matchAllPoints" : [
                  [[-1, 0], "NotEqualsSelf"]
                ],
                "pieces" : [["borderLeftBottom", [-2, 0]]]
              },
              {
                "matchAllPoints" : [
                  [[0, -1], "NotEqualsSelf"],
                  [[-1, 0], "NotEqualsSelf"]
                ],
                "pieces" : [["borderCornerLL", [-2, -2]]]
              }
            ]
          }
        ]
      },

      // LOWER RIGHT QUADRANT

      {
        "subMatches" : [
          {
            "haltOnSubMatch" : true,
            "matchAllPoints" : [
              [[1, 0], "NotEqualsSelf"],
              [[1, -1], "NotEqualsSelf"],
              [[0, -1], "NotEqualsSelf"]
            ],
            "subMatches" : [
              {
                "matchAnyPoints" : [
                  [[-1, -1], "EqualsSelf"],
                  [[1, 1], "EqualsSelf"]
                ],
                "pieces" : [["slopeLR", [4, -2]]],
                "occlude" : false
              }
            ]
          },
          {
            "subMatches" : [
              {
                "matchAllPoints" : [
                  [[1, -1], "EqualsSelf"]
                ],
                "subMatches" : [
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[1, 0], "NotEqualsSelf"],
                      [[0, -1], "NotEqualsSelf"]
                    ],
                    "pieces" : [["diagDown", [4, 0]]],
                    "occlude" : false
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[1, 0], "EqualsSelf"],
                      [[0, -1], "NotEqualsSelf"]
                    ],
                    "pieces" : [["interiorSlopeLL", [4, 0]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[1, 0], "NotEqualsSelf"]
                    ],
                    "pieces" : [["interiorSlopeUR", [4, 0]]]
                  },
                  {
                    "pieces" : [["interiorLR", [4, 0]]]
                  }
                ]
              },
              {
                "matchAllPoints" : [
                  [[1, -1], "NotEqualsSelf"]
                ],
                "subMatches" : [
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[1, 0], "NotEqualsSelf"],
                      [[0, -1], "NotEqualsSelf"]
                    ],
                    "pieces" : [["outerCornerLR", [4, 0]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[1, 0], "EqualsSelf"],
                      [[0, -1], "EqualsSelf"]
                    ],
                    "pieces" : [["interiorLR", [4, 0]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[1, 0], "EqualsSelf"]
                    ],
                    "pieces" : [["sideBottomRight", [4, 0]]]
                  },
                  {
                    "haltOnMatch" : true,
                    "matchAllPoints" : [
                      [[0, -1], "EqualsSelf"]
                    ],
                    "pieces" : [["sideRightBottom", [4, 0]]]
                  }
                ]
              },
              {
                "haltOnMatch" : true,
                "matchAllPoints" : [
                  [[1, -1], "EqualsSelf"],
                  [[1, 0], "NotEqualsSelf"]
                ],
                "pieces" : [["slopeInnerUR", [8, 0]]]
              },
              { 
                  "haltOnMatch" : true,
                  "matchAllPoints" : [
                    [[1, 0], "NotEqualsSelf"],
                    [[0, -1], "NotEqualsSelf"],
                    [[1, -1], "NotEqualsSelf"]
                  ],
                  "pieces" : [["borderCornerBR", [5, -1]],
                              ["borderCornerLR", [4, -2]],
                              ["borderCornerLR", [8, 2]]]
                },
              {
                "matchAllPoints" : [
                  [[0, -1], "NotEqualsSelf"],
                  [[1, -1], "NotEqualsSelf"]
                ],
                "pieces" : [["borderBottomRight", [4, -2]]]
              },
              {
                "matchAllPoints" : [
                  [[1, 0], "NotEqualsSelf"]
                ],
                "pieces" : [["borderRightBottom", [8, 0]]]
              },
              {
                "matchAllPoints" : [
                  [[0, -1], "NotEqualsSelf"],
                  [[1, 0], "NotEqualsSelf"]
                ],
                "pieces" : [["borderCornerLR", [8, -2]]]
              }
            ]
          }
        ]
      },

      // SHADOWS
      {
        "matchAllPoints" : [[[0, 0], "Shadows"]],
        "pieces" : [["fullShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[0, 1], "Shadows"]],
        "pieces" : [["topShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[-1, 0], "Shadows"]],
        "pieces" : [["leftShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[0, -1], "Shadows"]],
        "pieces" : [["bottomShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[1, 0], "Shadows"]],
        "pieces" : [["rightShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[-1, 1], "Shadows"], [[0, 1], "NotShadows"], [[-1, 0], "NotShadows"]],
        "pieces" : [["topLeftShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[1, 1], "Shadows"], [[0, 1], "NotShadows"], [[1, 0], "NotShadows"]],
        "pieces" : [["topRightShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[-1, -1], "Shadows"], [[0, -1], "NotShadows"], [[-1, 0], "NotShadows"]],
        "pieces" : [["bottomLeftShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[1, -1], "Shadows"], [[0, -1], "NotShadows"], [[1, 0], "NotShadows"]],
        "pieces" : [["bottomRightShadow", [0, 0]]]
      }
    ]]
  ]
}
